乐学偶得版权所有  公众号：乐学Fintech  主讲人：William LX_LAB教研团队提供技术支持 正版视频： 网易云课堂：乐学偶得

前置知识：Moving Average(rolling average/ running average)
之前我们指导了SMA/CMA/WMA/EMA

1.通过tushare获取数据

In [1]:
import tushare as ts
import pandas as pd

In [2]:
ts.set_token("09e4ce601d278a47514902d805936146d469550c6ec9c3b42d1d2343")

In [3]:
pro = ts.pro_api()

In [4]:
df_whole = pro.daily(ts_code="000001.SZ",start_date="20181001",end_date="20191001")

In [5]:
df_whole

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20190930,15.75,15.89,15.57,15.59,15.90,-0.31,-1.9497,1046363.17,1645828.526
1,000001.SZ,20190927,15.85,16.00,15.70,15.90,15.71,0.19,1.2094,1007706.27,1598567.052
2,000001.SZ,20190926,15.86,16.04,15.66,15.71,15.75,-0.04,-0.2540,1686592.58,2673096.951
3,000001.SZ,20190925,15.20,15.85,15.19,15.75,15.18,0.57,3.7549,1938892.72,3024598.930
4,000001.SZ,20190924,15.47,15.54,15.18,15.18,15.38,-0.20,-1.3004,1129103.24,1726238.272
...,...,...,...,...,...,...,...,...,...,...,...
238,000001.SZ,20181012,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400
239,000001.SZ,20181011,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611
240,000001.SZ,20181010,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180
241,000001.SZ,20181009,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550
242,000001.SZ,20181008,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283

In [6]:
df_whole["trade_date"]=pd.to_datetime(df_whole["trade_date"],format="%Y%m%d")

In [7]:
df_whole["trade_date"]

0     2019-09-30
1     2019-09-27
2     2019-09-26
3     2019-09-25
4     2019-09-24
         ...
238   2018-10-12
239   2018-10-11
240   2018-10-10
241   2018-10-09
242   2018-10-08
Name: trade_date, Length: 243, dtype: datetime64[ns]

In [8]:
df_whole.set_index("trade_date",inplace=True)

In [9]:
df_whole

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2019-09-30,000001.SZ,15.75,15.89,15.57,15.59,15.90,-0.31,-1.9497,1046363.17,1645828.526
2019-09-27,000001.SZ,15.85,16.00,15.70,15.90,15.71,0.19,1.2094,1007706.27,1598567.052
2019-09-26,000001.SZ,15.86,16.04,15.66,15.71,15.75,-0.04,-0.2540,1686592.58,2673096.951
2019-09-25,000001.SZ,15.20,15.85,15.19,15.75,15.18,0.57,3.7549,1938892.72,3024598.930
2019-09-24,000001.SZ,15.47,15.54,15.18,15.18,15.38,-0.20,-1.3004,1129103.24,1726238.272
...,...,...,...,...,...,...,...,...,...,...
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283

In [10]:
df_whole=df_whole.sort_index(ascending=True)

In [11]:
df_whole

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400
...,...,...,...,...,...,...,...,...,...,...
2019-09-24,000001.SZ,15.47,15.54,15.18,15.18,15.38,-0.20,-1.3004,1129103.24,1726238.272
2019-09-25,000001.SZ,15.20,15.85,15.19,15.75,15.18,0.57,3.7549,1938892.72,3024598.930
2019-09-26,000001.SZ,15.86,16.04,15.66,15.71,15.75,-0.04,-0.2540,1686592.58,2673096.951
2019-09-27,000001.SZ,15.85,16.00,15.70,15.90,15.71,0.19,1.2094,1007706.27,1598567.052
2019-09-30,000001.SZ,15.75,15.89,15.57,15.59,15.90,-0.31,-1.9497,1046363.17,1645828.526

In [12]:
df_close=df_whole["close"]
type(df_close)

pandas.core.series.Series

In [13]:
df_30_mavg=df_close.rolling(window=30).mean()
df_30_mavg

trade_date
2018-10-08          NaN
2018-10-09          NaN
2018-10-10          NaN
2018-10-11          NaN
2018-10-12          NaN
                ...
2019-09-24    14.634667
2019-09-25    14.663333
2019-09-26    14.688000
2019-09-27    14.720000
2019-09-30    14.743000
Name: close, Length: 243, dtype: float64

In [14]:
name = "fake_price"
series = pd.Series([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0 , 10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,1888.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0],name=name).to_frame()

In [15]:
series

    fake_price
0          1.0
1          2.0
2          3.0
3          4.0
4          5.0
5          6.0
6          7.0
7          8.0
8          9.0
9         10.0
10        11.0
11        12.0
12        13.0
13        14.0
14        15.0
15        16.0
16        17.0
17      1888.0
18        19.0
19        20.0
20        21.0
21        22.0
22        23.0
23        24.0
24        25.0
25        26.0
26        27.0
27        28.0
28        29.0
29        30.0

In [16]:
import numpy as np

In [17]:
series[name + "_ewma_unadj"]= np.nan
series.loc[0,name + "_ewma_unadj"]=series[name].iloc[0]

In [18]:
series

    fake_price  fake_price_ewma_unadj
0          1.0                    1.0
1          2.0                    NaN
2          3.0                    NaN
3          4.0                    NaN
4          5.0                    NaN
5          6.0                    NaN
6          7.0                    NaN
7          8.0                    NaN
8          9.0                    NaN
9         10.0                    NaN
10        11.0                    NaN
11        12.0                    NaN
12        13.0                    NaN
13        14.0                    NaN
14        15.0                    NaN
15        16.0                    NaN
16        17.0                    NaN
17      1888.0                    NaN
18        19.0                    NaN
19        20.0                    NaN
20        21.0                    NaN
21        22.0                    NaN
22        23.0                    NaN
23        24.0                    NaN
24        25.0                    NaN
25        26.0                    NaN
26        27.0                    NaN
27        28.0                    NaN
28        29.0                    NaN
29        30.0                    NaN

In [19]:
series[name + "_ewma_adj"]= np.nan
series.loc[0,name + "_ewma_adj"]=series[name].iloc[0]

In [20]:
series

    fake_price  fake_price_ewma_unadj  fake_price_ewma_adj
0          1.0                    1.0                  1.0
1          2.0                    NaN                  NaN
2          3.0                    NaN                  NaN
3          4.0                    NaN                  NaN
4          5.0                    NaN                  NaN
5          6.0                    NaN                  NaN
6          7.0                    NaN                  NaN
7          8.0                    NaN                  NaN
8          9.0                    NaN                  NaN
9         10.0                    NaN                  NaN
10        11.0                    NaN                  NaN
11        12.0                    NaN                  NaN
12        13.0                    NaN                  NaN
13        14.0                    NaN                  NaN
14        15.0                    NaN                  NaN
15        16.0                    NaN                  NaN
16        17.0                    NaN                  NaN
17      1888.0                    NaN                  NaN
18        19.0                    NaN                  NaN
19        20.0                    NaN                  NaN
20        21.0                    NaN                  NaN
21        22.0                    NaN                  NaN
22        23.0                    NaN                  NaN
23        24.0                    NaN                  NaN
24        25.0                    NaN                  NaN
25        26.0                    NaN                  NaN
26        27.0                    NaN                  NaN
27        28.0                    NaN                  NaN
28        29.0                    NaN                  NaN
29        30.0                    NaN                  NaN

In [21]:
period = 5
alpha = 2/(1+period)

In [22]:
for i in range(1,len(series)):
    series.loc[i,name+"_ewma_unadj"]=(1-alpha)*series.loc[i-1,name+"_ewma_unadj"] + \
    alpha * series.loc[i ,name]
    
    ajusted_weights = np.array([(1-alpha)**(i-t) for t in range(i+1)])
    series.loc[i,name+"_ewma_adj"] =np.sum(series.iloc[0:i+1][name].values * ajusted_weights)\
    / ajusted_weights.sum()

In [23]:
series

    fake_price  fake_price_ewma_unadj  fake_price_ewma_adj
0          1.0               1.000000             1.000000
1          2.0               1.333333             1.600000
2          3.0               1.888889             2.263158
3          4.0               2.592593             2.984615
4          5.0               3.395062             3.758294
5          6.0               4.263374             4.577444
6          7.0               5.175583             5.435163
7          8.0               6.117055             6.324822
8          9.0               7.078037             7.240363
9         10.0               8.052025             8.176476
10        11.0               9.034683             9.128659
11        12.0              10.023122            10.093207
12        13.0              11.015415            11.067142
13        14.0              12.010276            12.048122
14        15.0              13.006851            13.034333
15        16.0              14.004567            14.024396
16        17.0              15.003045            15.017272
17      1888.0             639.335363           639.767579
18        19.0             432.556909           432.751669
19        20.0             295.037939           295.126391
20        21.0             203.691959           203.732604
21        22.0             143.127973           143.146972
22        23.0             103.085315           103.094412
23        24.0              76.723544            76.728042
24        25.0              59.482362            59.484678
25        26.0              48.321575            48.322824
26        27.0              41.214383            41.215091
27        28.0              36.809589            36.810009
28        29.0              34.206393            34.206652
29        30.0              32.804262            32.804428

In [24]:
unjusted_calculated_by_pandas = series[name].ewm(span=period,adjust = False).mean()

In [25]:
print("当参数adjusted= False的情况下，我们自己构建的计算EWM函数与直接调用pandas里面的EWM功能之差为 ：" ,
      np.sum(series[name+"_ewma_unadj"] -unjusted_calculated_by_pandas))

当参数adjusted= False的情况下，我们自己构建的计算EWM函数与直接调用pandas里面的EWM功能之差为 ： 0.0

In [26]:
justed_calculated_by_pandas = series[name].ewm(span=period,adjust = True).mean()

In [27]:
print("当参数adjusted= True的情况下，我们自己构建的计算EWM函数与直接调用pandas里面的EWM功能之差为 ：" ,
      np.sum(series[name+"_ewma_adj"] -justed_calculated_by_pandas))

当参数adjusted= True的情况下，我们自己构建的计算EWM函数与直接调用pandas里面的EWM功能之差为 ： 2.318145675417327e-13

In [28]:
justed_calculated_by_pandas

0       1.000000
1       1.600000
2       2.263158
3       2.984615
4       3.758294
5       4.577444
6       5.435163
7       6.324822
8       7.240363
9       8.176476
10      9.128659
11     10.093207
12     11.067142
13     12.048122
14     13.034333
15     14.024396
16     15.017272
17    639.767579
18    432.751669
19    295.126391
20    203.732604
21    143.146972
22    103.094412
23     76.728042
24     59.484678
25     48.322824
26     41.215091
27     36.810009
28     34.206652
29     32.804428
Name: fake_price, dtype: float64

In [29]:
# import talib
# import numpy as np
# talib.EMA(np.array([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0 , 10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,1888.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0]),5)

In [30]:
series

    fake_price  fake_price_ewma_unadj  fake_price_ewma_adj
0          1.0               1.000000             1.000000
1          2.0               1.333333             1.600000
2          3.0               1.888889             2.263158
3          4.0               2.592593             2.984615
4          5.0               3.395062             3.758294
5          6.0               4.263374             4.577444
6          7.0               5.175583             5.435163
7          8.0               6.117055             6.324822
8          9.0               7.078037             7.240363
9         10.0               8.052025             8.176476
10        11.0               9.034683             9.128659
11        12.0              10.023122            10.093207
12        13.0              11.015415            11.067142
13        14.0              12.010276            12.048122
14        15.0              13.006851            13.034333
15        16.0              14.004567            14.024396
16        17.0              15.003045            15.017272
17      1888.0             639.335363           639.767579
18        19.0             432.556909           432.751669
19        20.0             295.037939           295.126391
20        21.0             203.691959           203.732604
21        22.0             143.127973           143.146972
22        23.0             103.085315           103.094412
23        24.0              76.723544            76.728042
24        25.0              59.482362            59.484678
25        26.0              48.321575            48.322824
26        27.0              41.214383            41.215091
27        28.0              36.809589            36.810009
28        29.0              34.206393            34.206652
29        30.0              32.804262            32.804428

In [31]:
series["ema5_adj"]= pd.Series.ewm(series["fake_price"],span=5 , adjust = True).mean()

In [32]:
series

    fake_price  fake_price_ewma_unadj  fake_price_ewma_adj    ema5_adj
0          1.0               1.000000             1.000000    1.000000
1          2.0               1.333333             1.600000    1.600000
2          3.0               1.888889             2.263158    2.263158
3          4.0               2.592593             2.984615    2.984615
4          5.0               3.395062             3.758294    3.758294
5          6.0               4.263374             4.577444    4.577444
6          7.0               5.175583             5.435163    5.435163
7          8.0               6.117055             6.324822    6.324822
8          9.0               7.078037             7.240363    7.240363
9         10.0               8.052025             8.176476    8.176476
10        11.0               9.034683             9.128659    9.128659
11        12.0              10.023122            10.093207   10.093207
12        13.0              11.015415            11.067142   11.067142
13        14.0              12.010276            12.048122   12.048122
14        15.0              13.006851            13.034333   13.034333
15        16.0              14.004567            14.024396   14.024396
16        17.0              15.003045            15.017272   15.017272
17      1888.0             639.335363           639.767579  639.767579
18        19.0             432.556909           432.751669  432.751669
19        20.0             295.037939           295.126391  295.126391
20        21.0             203.691959           203.732604  203.732604
21        22.0             143.127973           143.146972  143.146972
22        23.0             103.085315           103.094412  103.094412
23        24.0              76.723544            76.728042   76.728042
24        25.0              59.482362            59.484678   59.484678
25        26.0              48.321575            48.322824   48.322824
26        27.0              41.214383            41.215091   41.215091
27        28.0              36.809589            36.810009   36.810009
28        29.0              34.206393            34.206652   34.206652
29        30.0              32.804262            32.804428   32.804428

In [33]:
series["ema5_unadj"]= pd.Series.ewm(series["fake_price"],span=5 , adjust = False).mean()

In [34]:
series

,fake_price,fake_price_ewma_unadj,fake_price_ewma_adj,ema5_adj,ema5_unadj
0,1.0,1.000000,1.000000,1.000000,1.000000
1,2.0,1.333333,1.600000,1.600000,1.333333
2,3.0,1.888889,2.263158,2.263158,1.888889
3,4.0,2.592593,2.984615,2.984615,2.592593
4,5.0,3.395062,3.758294,3.758294,3.395062
5,6.0,4.263374,4.577444,4.577444,4.263374
6,7.0,5.175583,5.435163,5.435163,5.175583
7,8.0,6.117055,6.324822,6.324822,6.117055
8,9.0,7.078037,7.240363,7.240363,7.078037
9,10.0,8.052025,8.176476,8.176476,8.052025
10,11.0,9.034683,9.128659,9.128659,9.034683
11,12.0,10.023122,10.093207,10.093207,10.023122
12,13.0,11.015415,11.067142,11.067142,11.015415
13,14.0,12.010276,12.048122,12.048122,12.010276
14,15.0,13.006851,13.034333,13.034333,13.006851
15,16.0,14.004567,14.024396,14.024396,14.004567
16,17.0,15.003045,15.017272,15.017272,15.003045
17,1888.0,639.335363,639.767579,639.767579,639.335363
18,19.0,432.556909,432.751669,432.751669,432.556909
19,20.0,295.037939,295.126391,295.126391,295.037939
20,21.0,203.691959,203.732604,203.732604,203.691959
21,22.0,143.127973,143.146972,143.146972,143.127973
22,23.0,103.085315,103.094412,103.094412,103.085315
23,24.0,76.723544,76.728042,76.728042,76.723544
24,25.0,59.482362,59.484678,59.484678,59.482362
25,26.0,48.321575,48.322824,48.322824,48.321575
26,27.0,41.214383,41.215091,41.215091,41.214383
27,28.0,36.809589,36.810009,36.810009,36.809589
28,29.0,34.206393,34.206652,34.206652,34.206393
29,30.0,32.804262,32.804428,32.804428,32.804262

In [35]:
series["ema12_adj"]= pd.Series.ewm(series["fake_price"],span=12 , adjust = True).mean()

In [36]:
series["ema26_adj"]= pd.Series.ewm(series["fake_price"],span=26 , adjust = True).mean()

In [37]:
# series["ema9_adj"]= pd.Series.ewm(series["fake_price"],span=9 , adjust = True).mean()

In [38]:
series

,fake_price,fake_price_ewma_unadj,fake_price_ewma_adj,ema5_adj,ema5_unadj,ema12_adj,ema26_adj
0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,2.0,1.333333,1.600000,1.600000,1.333333,1.541667,1.519231
2,3.0,1.888889,2.263158,2.263158,1.888889,2.110855,2.051257
3,4.0,2.592593,2.984615,2.984615,2.592593,2.707184,2.596040
4,5.0,3.395062,3.758294,3.758294,3.395062,3.330134,3.153528
5,6.0,4.263374,4.577444,4.577444,4.263374,3.979052,3.723654
6,7.0,5.175583,5.435163,5.435163,5.175583,4.653166,4.306335
7,8.0,6.117055,6.324822,6.324822,6.117055,5.351599,4.901476
8,9.0,7.078037,7.240363,7.240363,7.078037,6.073382,5.508967
9,10.0,8.052025,8.176476,8.176476,8.052025,6.817475,6.128686
10,11.0,9.034683,9.128659,9.128659,9.034683,7.582776,6.760497
11,12.0,10.023122,10.093207,10.093207,10.023122,8.368144,7.404253
12,13.0,11.015415,11.067142,11.067142,11.015415,9.172410,8.059793
13,14.0,12.010276,12.048122,12.048122,12.010276,9.994395,8.726949
14,15.0,13.006851,13.034333,13.034333,13.006851,10.832919,9.405540
15,16.0,14.004567,14.024396,14.024396,14.004567,11.686820,10.095374
16,17.0,15.003045,15.017272,15.017272,15.003045,12.554958,10.796254
17,1888.0,639.335363,639.767579,639.767579,639.335363,316.092174,196.260675
18,19.0,432.556909,432.751669,432.751669,432.556909,268.390080,179.170181
19,20.0,295.037939,295.126391,295.126391,295.037939,228.773861,164.159223
20,21.0,203.691959,203.732604,203.732604,203.691959,195.821643,150.925975
21,22.0,143.127973,143.146972,143.146972,143.127973,168.384468,139.223309
22,23.0,103.085315,103.094412,103.094412,103.085315,145.527448,128.846916
23,24.0,76.723544,76.728042,76.728042,76.723544,126.485378,119.626411
24,25.0,59.482362,59.484678,59.484678,59.482362,110.628774,111.418553
25,26.0,48.321575,48.322824,48.322824,48.321575,97.437580,104.102048
26,27.0,41.214383,41.215091,41.215091,41.214383,86.480574,97.573497
27,28.0,36.809589,36.810009,36.810009,36.809589,77.399086,91.744210
28,29.0,34.206393,34.206652,34.206652,34.206393,69.894000,86.537688
29,30.0,32.804262,32.804428,32.804428,32.804262,63.715311,81.887597

12_ema = fast (快线) ， 26_ema slow(慢线)
1）MACD Line(MACD线)  12ema-26 ema
2）Signal Line（信号线） =  9ema of the MACD Line(信号线)
3）Histogram(柱状图) = MACD Line - Signal Line

In [39]:
LXOD_MACD=series["ema12_adj"]-series["ema26_adj"]

In [40]:
type(LXOD_MACD)

pandas.core.series.Series

In [41]:
LXOD_MACD

0       0.000000
1       0.022436
2       0.059598
3       0.111144
4       0.176605
5       0.255398
6       0.346831
7       0.450122
8       0.564415
9       0.688789
10      0.822279
11      0.963891
12      1.112617
13      1.267445
14      1.427379
15      1.591446
16      1.758704
17    119.831499
18     89.219899
19     64.614638
20     44.895668
21     29.161159
22     16.680532
23      6.858967
24     -0.789779
25     -6.664468
26    -11.092922
27    -14.345124
28    -16.643687
29    -18.172286
dtype: float64

In [42]:
LXOD_Signal_Line=LXOD_MACD.ewm(span=9,adjust=True).mean()

In [43]:
LXOD_Signal_Line

0      0.000000
1      0.012464
2      0.031781
3      0.058666
4      0.093750
5      0.137566
6      0.190525
7      0.252911
8      0.324870
9      0.406409
10     0.497399
11     0.597582
12     0.706581
13     0.823914
14     0.949009
15     1.081217
16     1.219836
17    25.377352
18    38.332566
19    43.650289
20    43.901684
21    40.931664
22    36.052637
23    30.186199
24    23.967510
25    17.822543
26    12.025433
27     6.741100
28     2.056894
29    -1.993956
dtype: float64

In [44]:
Histogram=LXOD_MACD-LXOD_Signal_Line

In [45]:
type(Histogram)

pandas.core.series.Series

In [46]:
df_whole.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400

In [47]:
df_whole["ema12_adj"]=pd.Series.ewm(df_whole["close"],span=12 , adjust = True).mean()

In [48]:
df_whole.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ema12_adj
trade_date,,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283,10.450000
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550,10.509583
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180,10.486328
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611,10.288621
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400,10.291712

In [49]:
df_whole["ema26_adj"]=pd.Series.ewm(df_whole["close"],span=26 , adjust = True).mean()

In [50]:
df_whole.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ema12_adj,ema26_adj
trade_date,,,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283,10.450000,10.450000
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550,10.509583,10.507115
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180,10.486328,10.486594
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611,10.288621,10.311426
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400,10.291712,10.308776

In [51]:
LXOD_MACD=df_whole["ema12_adj"]-df_whole["ema26_adj"]

In [52]:
LXOD_MACD

trade_date
2018-10-08    0.000000
2018-10-09    0.002468
2018-10-10   -0.000266
2018-10-11   -0.022805
2018-10-12   -0.017064
                ...
2019-09-24    0.200633
2019-09-25    0.259148
2019-09-26    0.298848
2019-09-27    0.341704
2019-09-30    0.346656
Length: 243, dtype: float64

In [53]:
df_whole["signal_line"]=pd.Series.ewm(LXOD_MACD,span=9 , adjust = True).mean()

In [54]:
df_whole

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ema12_adj,ema26_adj,signal_line
trade_date,,,,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283,10.450000,10.450000,0.000000
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550,10.509583,10.507115,0.001371
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180,10.486328,10.486594,0.000700
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611,10.288621,10.311426,-0.007263
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400,10.291712,10.308776,-0.010178
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-24,000001.SZ,15.47,15.54,15.18,15.18,15.38,-0.20,-1.3004,1129103.24,1726238.272,14.830177,14.629544,0.127791
2019-09-25,000001.SZ,15.20,15.85,15.19,15.75,15.18,0.57,3.7549,1938892.72,3024598.930,14.971689,14.712541,0.154062
2019-09-26,000001.SZ,15.86,16.04,15.66,15.71,15.75,-0.04,-0.2540,1686592.58,2673096.951,15.085275,14.786427,0.183019
2019-09-27,000001.SZ,15.85,16.00,15.70,15.90,15.71,0.19,1.2094,1007706.27,1598567.052,15.210617,14.868914,0.214756
2019-09-30,000001.SZ,15.75,15.89,15.57,15.59,15.90,-0.31,-1.9497,1046363.17,1645828.526,15.268984,14.922328,0.241136

In [55]:
df_whole["LXOD_MACD"]=LXOD_MACD

In [56]:
df_whole.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ema12_adj,ema26_adj,signal_line,LXOD_MACD
trade_date,,,,,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283,10.450000,10.450000,0.000000,0.000000
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550,10.509583,10.507115,0.001371,0.002468
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180,10.486328,10.486594,0.000700,-0.000266
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611,10.288621,10.311426,-0.007263,-0.022805
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400,10.291712,10.308776,-0.010178,-0.017064

Histogram(柱状图) = MACD Line - Signal Line

In [57]:
df_whole["Histo"]=df_whole["LXOD_MACD"]-df_whole["signal_line"]

In [58]:
df_whole.head()

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ema12_adj,ema26_adj,signal_line,LXOD_MACD,Histo
trade_date,,,,,,,,,,,,,,,
2018-10-08,000001.SZ,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283,10.450000,10.450000,0.000000,0.000000,0.000000
2018-10-09,000001.SZ,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550,10.509583,10.507115,0.001371,0.002468,0.001097
2018-10-10,000001.SZ,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180,10.486328,10.486594,0.000700,-0.000266,-0.000966
2018-10-11,000001.SZ,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611,10.288621,10.311426,-0.007263,-0.022805,-0.015543
2018-10-12,000001.SZ,9.97,10.34,9.87,10.30,9.86,0.44,4.4625,1516810.28,1532651.400,10.291712,10.308776,-0.010178,-0.017064,-0.006886

In [59]:
import matplotlib.pyplot as plt

# %matplotlib

# df_whole["ema12_adj"].plot()
# df_whole["ema26_adj"].plot()
# df_whole["close"].plot()
# df_whole["signal_line"].plot()

# plt.legend()

In [64]:
%matplotlib
ax1= plt.subplot2grid((9,10),(0,0),rowspan = 7,colspan=10)
ax2= plt.subplot2grid((9,10),(7,0),rowspan = 7,colspan=10,sharex=ax1)

Using matplotlib backend: MacOSX

In [65]:
ax1.plot(df_whole.index,df_whole["close"],label="close price")
ax1.plot(df_whole.index,df_whole["ema12_adj"],label="ema12")
ax1.plot(df_whole.index,df_whole["ema26_adj"],label="ema26")

In [62]:
ax2.bar(df_whole.index,df_whole["Histo"],label="MACD_HISTO")
ax2.plot(df_whole.index,df_whole["signal_line"],label="signal line")

In [63]:
ax1.legend()
ax2.legend(loc="upper left")

from matplotlib.widgets import Cursor

cursor = Cursor(ax1,useblit=True)

不要禁锢于这些说法！这些只是前人的知识，与经验而谈的指标

*概念辨析：

1."signal_line"（信号线）/DEA（离差平均值）= ema（dif,9）
2.MACD/ DIF(离差值)=ema(close,12)-ema(close,26)
3.Histogram/Bar = (DIF - DEA)*2

*国内外经常会混淆的说法

快线/慢线

1.ema(close,12)比 ema(close,26)要快
2.DIF比DEA要快


tips:试试用pure python 实现以上功能，可以用apply(),lambda